.brandambassadors :global(.swiper-pagination) {
  position: absolute;
  bottom: 2px !important;
  left: 50% !important;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  z-index: 20;
  justify-content: center;
}

.brandambassadors :global(.swiper-pagination-bullet) {
  width: 10px;
  height: 10px;
  background: gray;
  opacity: 1;
  margin: 0 !important;
  transition: all 0.3s ease;
  border: 2px solid gray !important;
}

.brandambassadors :global(.swiper-pagination-bullet-active) {
  background: #333;
  height: 8px;
  border-radius: 5px !important;
  width: 35px;
  border: 2px solid gray !important;
}
