.brandambassadors :global(.swiper-pagination) {
  position: absolute;
  bottom: 2px !important;
  left: 50% !important;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  z-index: 20;
  justify-content: center;
}

.brandambassadors :global(.swiper-pagination-bullet) {
  width: 1.5rem;
  height: 2px;
  background: #d1d5db;
  opacity: 1;
  border-radius: 0;
  margin: 0 !important;
  transition: all 0.3s ease;
}

.brandambassadors :global(.swiper-pagination-bullet-active) {
  background: #000000;
}
